<style>
  .container {
    width: 50%;
  }
  .line-through {
    text-decoration: line-through;
  }
  mat-card {
    margin-top: 5px;
    width: fit-content;
  }
</style>
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>#{{ todo!.id }}</mat-card-title>
      <mat-card-subtitle
        [ngClass]="{ 'line-through': todo.isCompleted }"
        class="title"
        (click)="toggleCompletion()"
        *ngIf="!showTranslation; else TranslatedOutput"
        >{{ todo!.title }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions>
      <button
        mat-button
        *ngIf="!showTranslation; else Close"
        (click)="translateTodo()"
      >
        Translate
      </button>

      <button mat-button (click)="deleteTodo()">Delete</button>
    </mat-card-actions>
  </mat-card>

  <ng-template #TranslatedOutput>
    <p>Translated output text</p>
  </ng-template>

  <ng-template #Close>
    <button mat-button (click)="translateTodo()">Hide translation</button>
  </ng-template>
</div>
