<style>
  .container {
    display: flex;
    justify-content: space-between;
    width: 50vw;
  }

  .title {
    width: 30vw;
    border: 1px solid gray;
  }

  .line-through {
    text-decoration: line-through;
  }
</style>
<div class="container">
  <div>#{{ todo!.id }}</div>

  <div [ngClass]="{ 'line-through': todo.isCompleted }" class="title" (click)="toggleCompletion()"
    *ngIf="!showTranslation; else TranslatedOutput">
    {{ todo!.title }}
  </div>

  <ng-template #TranslatedOutput>
    <p>Translated output text</p>
  </ng-template>

  <div>
    <Button *ngIf="!showTranslation; else Close" (click)="translateTodo()">Translate</Button>
    <ng-template #Close>
      <button (click)="translateTodo()">Hide translation</button>
    </ng-template>
    <Button (click)="deleteTodo()">Delete</Button>
  </div>
</div>